/* Pagina Sobre*/
.subTituloSobre{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    margin-top: 10px;
}
.linhaTextos{
    margin-top: 4px; 
    border-radius: 40px;
    background-color: rgba(112,128,144, 0.6);
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.botoesSobre button{
    margin-bottom: 10px;
}
.descricoesBotoes{
    font-size: 17px;
    line-height: 0.9;
    font-family: 'Arvo', sans-serif;
    text-align: center;
}
.descricoesBotoes p{
    color: rgba(47,79,79, 1.0);
}